/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/
/* CSS to better visually match Docsify pages within Canvas LMS (uncomment to use) */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body .markdown-section {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.markdown-section blockquote {
  border-color: #757b7f;
}

.markdown-section .alert {
  border-color: #757b7f;
}

.progress {
  background-color: #757b7f;
}

body {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

body .app-nav {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

.app-nav:not(:empty)~main .markdown-section {
  padding-top: 5.5rem;
}

.markdown-section h1 {
  line-height: 1.5rem;
}

.markdown-section h2 {
  line-height: 1.4rem;
}

.markdown-section h3 {
  line-height: 1.15rem;
}

.markdown-section h4 {
  line-height: 1.15rem;
}

.markdown-section h5 {
  line-height: 1.15rem;
}

.markdown-section h6 {
  line-height: 1.1rem;
}

@media only screen and (max-width: 480px) {

   .markdown-section h1 {
      font-size: 1.35rem;
      line-height: 1.45rem;
   }

   .markdown-section h2 {
      font-size: 1.25rem;
      line-height: 1.35rem;
   }

   .markdown-section h3 {
      font-size: 1.15rem;
      line-height: 1.25rem;
   }

   .markdown-section h4 {
      font-size: 1.10rem;
      line-height: 1.15rem;
   }

   .markdown-section h5 {
      font-size: 1.05rem;
      line-height: 1.1rem;
   }

   .markdown-section h6 {
      font-size: 1rem;
      line-height: 1rem;
   }

}
